<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.android.sampleapp"
          android:versionCode="1"
          android:versionName="1.0">

  <!-- These permissions are required for C2DM -->
  <!-- Only this application can receive the messages and registration result -->
  <permission android:name="com.example.android.sampleapp.permission.C2D_MESSAGE"
              android:protectionLevel="signature"/>
  <uses-permission android:name="com.example.android.sampleapp.permission.C2D_MESSAGE"/>
  <!-- This app has permission to register and receive message -->
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
  <!-- Send the registration id to the server. Many apps will want this permission even when C2DM is not needed. -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <!-- End of C2DM permissions -->

  <application
      android:label="@string/app_name"
      android:icon="@drawable/icon"
      android:name=".MySampleApplication">
    <activity android:name=".StarterActivity"
              android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest> 
